* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative', cursive;
}

body {
    height: 100vh;
    width: 100vw;
    border: 3px solid white;
    background-image: url(https://wallpaperaccess.com/full/673915.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(./images/cursor.png), auto;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 699px;
    margin-left: 60%;
    margin-top: 10px;
}

.card {
    margin: 20px;
}

img {
    width: 100px;
    height: 100%;
    border-radius: 12px;
    border: 3px solid white;
    box-shadow: 5px 5px 30px 1px red;
}

.back {
    height: 175px;
}

#gameOver {
    color: white;
    position: absolute;
    visibility: hidden;
    width: 30%;
    margin-top: 350px;
    margin-left: 250px;
    font-size: 36px;
}

#winGame {
    color: white;
    position: absolute;
    visibility: hidden;
    width: 30%;
    margin-top: 350px;
    margin-left: 250px;
    font-size: 36px;
}

.text {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1260px;
    margin-top: 10px;
    color: white;
    font-size: 24px;
}

.border {
    position: absolute;
    width: 700px;
    height: 900px;
    margin-left: 1050px;
    margin-top: 50px;
}

.btn, .btn1 {
    height: 35px;
    width: 100px;
    margin-left: 140px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 10px red;
    cursor: url(./images/cursor.png), auto;
}

p {
    color: white;
    width: 55%;
    font-size: 16px;
    margin-left: 50px;
}

h2 {
    color: white;
    position: absolute;
    font-size: 50px;
    margin-left: 250px;
    margin-top: 10px;

}