* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


.grid {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
}

img {
    width: 100px;
    height: 100%;
    border-radius: 15px;
}

.front {
    height: 200px;
}

#gameOver {
    position: absolute;
    visibility: hidden;
}

#winGame {
    position: absolute;
    visibility: hidden;
}















/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
}


.grid {
    width: 500px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(25% - 10px);
    height: calc(30% - 50px);
    position: relative;
    margin: 5px;
    transform-style: preserve-3d;
}

.card.flip {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
} */




/* .card {
    transform: scale(1);
    transition: transform .5s;
} */

/* .grid {
    perspective: 1000px;
} */

/* .card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
} */